/* Time Display */
.time-display {
  text-align: right;
  padding: 1rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.time-label {
  color: #0147AE;
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.time-value {
  color: #245eb6;
  font-size: 1.1rem;
  font-weight: 600;
}

@media (max-width: 768px) {
    .time-display {
    text-align: center;
    }
}
